<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Tailwind CSS Boilerplate</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tailwind/3.3.1/main.min.css')}}" />
</head>
<body class="bg-gray-100">
  <div class="container mx-auto px-0 max-w-full">
    <!-- Header start -->
    <div class="grid grid-cols-12 flex-1 flex-wrap justify-start bg-white drop-shadow-sm py-2 mb-4">
      <div class="flex flex-row justify-start col-span-2 pl-4">
        <div class="mr-2">
          <img src="static/images/logo.png" class="w-9" />
        </div>
        <div class="ml-2 flex flex-col justify-center">
          <h1 class="font-bold">Flask UI</h1>
        </div>
      </div>
      <!-- Main content start -->
      <div class="col-span-10 ml-4">
        <nav class="flex-no-wrap relative">
          <ul class="flex flex-row justify-start">
            <li class="mr-4 inline-block py-2"><a class="px-4 py-2 rounded-md bg-gray-100" href="#">Home</a></li>
            <li class="mr-4 inline-block py-2"><a class="px-4 py-2 rounded-md bg-gray-100" href="#">About</a></li>
            <li class="mr-4 inline-block py-2"><a class="px-4 py-2 rounded-md bg-gray-100" href="#">Contact</a></li>
          </ul>
        </nav>          
      </div>
    </div>
    <div class="grid grid-cols-12 flex-1 flex-wrap justify-start">
      <div class="flex flex-column col-span-2">
        Menu
      </div>
      <div class="flex flex-row col-span-10">
        Main content
      </div>
    </div>
      <!-- Footer start -->
  </div>
</body>
</html>