<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Tailwind CSS Boilerplate</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tailwind/3.3.1/main.min.css')}}" />
</head>
<body class="bg-deep-purple">
  <div class="container mx-auto px-0 max-w-full">
    <!-- Header start -->
    <div class="grid grid-cols-16 flex-1 flex-wrap justify-start bg-white drop-shadow-sm py-2">
      <div class="flex flex-row justify-start col-span-2 pl-4">
        <div class="mr-2">
          <img src="static/images/logo.png" class="w-9" />
        </div>
        <div class="ml-2 flex flex-col justify-center">
          <h1 class="font-bold">Flask UI</h1>
        </div>
      </div>
      <!-- Main content start -->
      <div class="col-span-14 ml-4">
        <nav class="flex-no-wrap relative">
          <ul class="flex flex-row justify-end text-sm">
            {% for (text, path) in main_navigation.items() %}
                  <li class="mr-4 inline-block py-2">
                    <a class="shadow shadow-gray-200 px-4 py-2 rounded-2xl bg-gray-100 hover:bg-light-deep-purple hover:text-white " href="{{path}}">
                      {{text}}
                    </a>
                  </li>
            {% endfor %}
          </ul>
        </nav>          
      </div>
    </div>
    <div class="grid grid-cols-16 flex-1 flex-wrap justify-start relative">
      <div class="flex flex-column col-span-2 mx-3 my-4 rounded-lg h-screen">
        <aside id="default-sidebar" class="w-full" aria-label="Sidebar">
          <div class="h-full bg-gray-50 dark:bg-gray-800">
             <ul class="flex flex-col text-sm">
                {% for (text, path) in sidebar_navigation.items() %}
                  <li>
                    <a class="flex items-center p-2 text-white dark:text-white hover:bg-light-deep-purple hover:text-white  rounded-2xl" href={{path}}>
                      <span class="ml-3">{{text}}</span>
                    </a>
                  </li>
                {% endfor %}
             </ul>
          </div>
       </aside>
      </div>
      <div class="flex flex-column col-span-14 mt-4 mr-4 p-4 rounded-lg bg-white">
        <div class="flex flex-row flex-wrap">
          <!-- form start -->
          
            <fieldset class="py-4 px-4 mb-4 bg-gray-200">
              <form class="flex flex-row" action="" method="get">
                {% for (field) in searchfilter %}
                <div class="input-field ml-2">
                  <label for="{{ field['firstname'] }}">{{ field['label'] }}</label>
                  <input type="text" name="{{ field['firstname'] }}" id="{{ field['firstname'] }}">
                </div>
                {% endfor %}
                <div class="input-field">
                  <input type="submit" value="Search">
                </div>
              </form>
            </fieldset>
          
          <!-- form end -->
          <div class="flex basis-full">
            <table class="table-auto text-left w-full table border-0">
              <thead>
                <tr class="border-b-gray-200 border-b">
                  {% for (header) in table_headers %}
                    <th class="py-1 px-2 capitalize bg-gray-100 text-black font-bold">{{ header }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for (row) in table_data %}
                    <tr class="odd:bg-gray-100 border-b-gray-200 border-b">
                      {% for (header) in table_headers %}
                        <td class="py-1 px-2 text-sm">{{ row[header] or '-' }}</td>
                      {% endfor %}
                    </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
      <!-- Footer start -->
      <div class="my-2 text-right py-4 px-4 text-white text-xs">
        &copy; flask-ui v1.0.0
      </div>
  </div>
</body>
</html>